@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%;
  margin: 0 auto;
}

/*=================================
  main styling starts here
=================================*/

body {
  background-color: #f5d04e;
  font-family: "Figtree", sans-serif;
}

main .wrapper {
  width: 26.5%;
}

.container {
  padding: 22px;
  background-color: #fff;
  border-left: 2px solid #777;
  border-top: 2px solid #777;
  border-radius: 15px;
  -webkit-box-shadow: 8px 8px 0px 1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 8px 8px 0px 1px rgba(0, 0, 0, 1);
  box-shadow: 8px 8px 0px 1px rgba(0, 0, 0, 1);
  margin: 230px 0;
}

.container figure img {
  width: 100%;
  border-radius: 10px;
}

span {
  display: inline-block;
  background-color: #f4d149;
  padding: 6px 4%;
  border-radius: 5px;
  font-weight: 800;
  font-size: 14px;
  margin-bottom: 12px;
}

.container > figure {
  margin-bottom: 19px;
}

.container > p:nth-of-type(1) {
  font-size: 14px;
  margin-bottom: 18px;
}

h1 {
  font-size: 24px;
  margin-bottom: 14px;
}

h1:hover {
  color: #f6d04f;
  cursor: pointer;
}

p:nth-of-type(2) {
  line-height: 1.4;
  color: #777;
  margin-bottom: 22px;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile-container figure {
  width: 30px;
  height: 30px;
}

.profile-container p {
  font-size: 14px;
  font-weight: 800;
}
/*=================================
  main styling ends here
=================================*/

/*media query starts*/

/*Responsive Design Desktop-first-approach*/
/*media query for 1440px starts here*/
@media only screen and (max-width: 1440px) {
  .container {
    margin: 215px 0;
  }
}

/*media query for 1024px starts here*/
@media only screen and (max-width: 1024px) {
  main .wrapper {
    width: 35%;
  }

  .container {
    margin: 200px 0;
  }
}

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  .container {
    margin: 180px 0;
  }

  main .wrapper {
    width: 40%;
  }
}

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  main .wrapper {
    width: 50%;
  }
}

/*media query for 540px starts here*/
@media only screen and (max-width: 540px) {
  main .wrapper {
    width: 65%;
  }
}

/*media query for 480px starts here*/
@media only screen and (max-width: 480px) {
  main .wrapper {
    width: 75%;
  }
}

/*media query for 376px starts here*/
@media only screen and (max-width: 376px) {
  .container {
    margin: 150px 0;
  }

  main .wrapper {
    width: 88%;
  }

  .container > figure {
    height: 190px;
  }

  .container > figure img {
    height: 100%;
    object-fit: cover;
  }

  span {
    font-size: 12px;
  }

  .container > figure {
    margin-bottom: 22px;
  }

  .container > p:nth-of-type(1) {
    font-size: 12px;
  }

  h1 {
    font-size: 19px;
    margin-bottom: 14px;
    font-weight: 800;
  }

  p:nth-of-type(2) {
    font-size: 13px;
  }
}
